# vim:syntax=sh
# vim:filetype=sh

# Prevent the commit of analysis products
*.npy
*.png

# Build products
*.o
*.a

# Some annoying Apple stuff
.DS_Store
*.dSYM

# Python stuff
*.pyc
*.egg
*.eggs
*.egg-info
__pycache__
.pytest_cache
.src
.cache
.ropeproject

# Pyenv stuff
.python-version

# Poetry stuff
dist

# JetBrains stuff
.idea

# .vi swap files
*.*.swp

# tag files
.tags

# cmake stuff
.cmake-tmp*

# Common names for out-of-source build directories
cmake-build-*
build-*
build
_build

# Scratch directories/files
.tests
.project_aux.json

#Miscillaneous
.install*
*.old
.ipynb_checkpoints
local
htmlcov
.coverage
*.log
